body {
  margin: 0; /* 外側の余白を削除 */
  padding: 0; /* 内側の余白を削除 */
  box-sizing: border-box; /* ボックスサイズを整える */
}

html, body {
  width: 100%; /* ページ全体の幅を100%に */
  height: 100%; /* ページ全体の高さを100%に */
  overflow-x: hidden; /* 横スクロールを防ぐ */
}

.result-box {
  padding: 10px;
}

.result-box ul, li {
    padding-left: 20px; /* 全体のインデント量を指定 */
}

.result-box h1,h2{
  font-size: 18px;
  padding-top: 10px;
}
